<div class="card">
    <div class="card-header card-header-primary">
        <span *ngIf="title">{{title}}</span>
        <span *ngIf="!title">Home</span>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/boot.png" class="margin-right" height="150">
                <img src="../../assets/images/angular.png" class="margin-right" height="150">
                <img src="../../assets/images/webpack.png" class="margin-right" height="150">
            </div>
            <div class="col-md-6">
                <h4 class="card-title" i18n="Welcome message">Welcome to anguboot</h4>
                <p i18n="Available users message">Available users:</p>
                <div>
                    <code>admin:admin</code>
                    <code>actuator:password</code>
                    <code>user:password</code>
                </div>
                <button *ngIf="showSignIn" type="submit" class="margin-top btn btn-primary pointer" routerLink="/login">
                    Sign in
                </button>
            </div>
        </div>
    </div>
</div>