<div *ngIf="mappings">
    <div class="card margin-top" *ngFor="let mapping of mappings">
        <div class="card-header card-header-primary">
            <span>{{mapping.name}} ({{mapping.mappings.length}})</span>
            <span class="float-right">
            <a my-raw rawTitle="Mappings [raw]" [(rawBody)]="raw" class="fa fa-lg fa-eye fa-margin pointer text-color"
               href="#"></a>
            <a class="fa fa-refresh pointer text-color" (click)="$event.preventDefault();refresh()" href="#"></a>
        </span>
        </div>
        <div class="card-block table-responsive">
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th i18n="Mapping table header : path">Path</th>
                        <th i18n="Mapping table header : method">Method</th>
                        <th i18n="Mapping table header : bean">Bean</th>
                        <th i18n="Mapping table header : java method">Java Method</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let m of mapping.mappings">
                        <td><code class="space" *ngFor="let p of m.paths">{{p}}</code></td>
                        <td><span class="badge badge-primary space" *ngFor="let met of m.methods">{{met}}</span></td>
                        <td>{{m.bean}}</td>
                        <td class="text-overflow    ">{{m.javaMethod}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card" *ngIf="!mappings">
    <div class="card-header card-header-primary">
        <span i18n="Mappings panel title">Mappings</span>
        <span class="float-right">
            <a class="fa fa-refresh pointer text-color" (click)="$event.preventDefault();refresh()" href="#"></a>
        </span>
    </div>
    <div class="card-block table-responsive">
        <p>
            <span i18n>No results</span>
        </p>
    </div>
</div>