<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header card-header-primary" i18n="User panel title">Information</div>
        <div class="card-block">
            <dl class="row" *ngIf="user">
                <dt class="col-sm-6 col-xs-6" i18n="User name">Name</dt>
                <dd class="col-sm-6 col-xs-6">{{ user.name }}</dd>
                <dt class="col-sm-6 col-xs-6" i18n="User authorities">Authorities</dt>
                <dd class="col-sm-6 col-xs-6">
                    <span class="badge badge-success space" *ngFor="let a of user.authorities">{{ a.authority }}</span>
                </dd>
            </dl>
        </div>
    </div>
</div>