// my variables
$my-body-bg:                    #fff;
$my-body-color:                 #292b2c;
// my brands
$my-brand-primary:              #d89719;
$my-brand-success:              #5cb85c;
$my-brand-info:                 #5bc0de;
$my-brand-warning:              #f0ad4e;
$my-brand-danger:               #d9534f;
// my brands text
$my-brand-primary-text:         #fff;
$my-brand-success-text:         #fff;
$my-brand-info-text:            #fff;
$my-brand-warning-text:         #fff;
$my-brand-danger-text:          #fff;
// my states
$my-state-success-text:         #3c763d;
$my-state-success-bg:           #dff0d8;
$my-state-info-text:            #31708f;
$my-state-info-bg:              #d9edf7;
$my-state-warning-text:         #8a6d3b;
$my-state-warning-bg:           #fcf8e3;
$my-state-danger-text:          #a94442;
$my-state-danger-bg:            #f2dede;
// my notifications
$my-popup-success-bg-color:     #51a351;
$my-popup-info-bg-color:        #2f96b4;
$my-popup-warning-bg-color:     #f89406;
$my-popup-error-bg-color:       #bd362f;
// my spinner
$my-spinner-bg:                 rgba(125, 125, 125, 0.5);
$my-spinner-color:              #d89719;

$card-bg: darken($my-body-bg, 10%);
